
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Services</h2>*@

<!-- Breadcrumbs-->
<section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(../images/slider-alter-slide-1-1920x800.jpg);">
    <div class="breadcrumbs-custom-inner">
        <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
                <h6 class="breadcrumbs-custom-subtitle title-decorated">Services</h6>
                <h1 class="breadcrumbs-custom-title">Services</h1>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li>
                    @*<a href="index.html">Home</a>*@
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })
                </li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</section>

<!-- Services-->
<section class="section-lg text-center">
    <div class="container">
        <h3>Services</h3>
        <p><span class="text-width-1">Blandit aliquam etiam erat velit. Ut placerat orci nulla pellentesque dignissim enim sit amet venenatis.</span></p>
        <div class="row row-50 row-xxl-70">
            <div class="col-sm-6 col-lg-3">
                <!-- Thumbnail Light-->
                <article class="thumbnail-light">
                    <a class="thumbnail-light-media" href="single-service.html"><img class="thumbnail-light-image" src="~/images/service-thumbnail-1-270x200.jpg" alt="" width="270" height="200" /></a>
                    <h5 class="thumbnail-light-title"><a href="single-service.html">Morning prayer</a></h5>
                </article>
            </div>
            <div class="col-sm-6 col-lg-3">
                <!-- Thumbnail Light-->
                <article class="thumbnail-light">
                    <a class="thumbnail-light-media" href="single-service.html"><img class="thumbnail-light-image" src="~/images/service-thumbnail-2-270x200.jpg" alt="" width="270" height="200" /></a>
                    <h5 class="thumbnail-light-title"><a href="single-service.html">Mass</a></h5>
                </article>
            </div>
            <div class="col-sm-6 col-lg-3">
                <!-- Thumbnail Light-->
                <article class="thumbnail-light">
                    <a class="thumbnail-light-media" href="single-service.html"><img class="thumbnail-light-image" src="~/images/service-thumbnail-3-270x200.jpg" alt="" width="270" height="200" /></a>
                    <h5 class="thumbnail-light-title"><a href="single-service.html">Sunday services</a></h5>
                </article>
            </div>
            <div class="col-sm-6 col-lg-3">
                <!-- Thumbnail Light-->
                <article class="thumbnail-light">
                    <a class="thumbnail-light-media" href="single-service.html"><img class="thumbnail-light-image" src="~/images/service-thumbnail-4-270x200.jpg" alt="" width="270" height="200" /></a>
                    <h5 class="thumbnail-light-title"><a href="single-service.html">Weddings</a></h5>
                </article>
            </div>
            <div class="col-sm-6 col-lg-3">
                <!-- Thumbnail Light-->
                <article class="thumbnail-light">
                    <a class="thumbnail-light-media" href="single-service.html"><img class="thumbnail-light-image" src="~/images/service-thumbnail-5-270x200.jpg" alt="" width="270" height="200" /></a>
                    <h5 class="thumbnail-light-title"><a href="single-service.html">Funerals</a></h5>
                </article>
            </div>
            <div class="col-sm-6 col-lg-3">
                <!-- Thumbnail Light-->
                <article class="thumbnail-light">
                    <a class="thumbnail-light-media" href="single-service.html"><img class="thumbnail-light-image" src="~/images/service-thumbnail-6-270x200.jpg" alt="" width="270" height="200" /></a>
                    <h5 class="thumbnail-light-title"><a href="single-service.html">Baptisms</a></h5>
                </article>
            </div>
            <div class="col-sm-6 col-lg-3">
                <!-- Thumbnail Light-->
                <article class="thumbnail-light">
                    <a class="thumbnail-light-media" href="single-service.html"><img class="thumbnail-light-image" src="~/images/service-thumbnail-7-270x200.jpg" alt="" width="270" height="200" /></a>
                    <h5 class="thumbnail-light-title"><a href="single-service.html">Social Services</a></h5>
                </article>
            </div>
            <div class="col-sm-6 col-lg-3">
                <!-- Thumbnail Light-->
                <article class="thumbnail-light">
                    <a class="thumbnail-light-media" href="single-service.html"><img class="thumbnail-light-image" src="~/images/service-thumbnail-8-270x200.jpg" alt="" width="270" height="200" /></a>
                    <h5 class="thumbnail-light-title"><a href="single-service.html">Cultural Services</a></h5>
                </article>
            </div>
        </div>
    </div>
</section>


