

<section class="section section-sm pb-0">
    <div class="container">
        <div class="row row-50 justify-content-center justify-content-lg-between">
            <div class="col-md-10 col-lg-6 align-self-center">
                <h3>Overview</h3>
                <h4 class="offset-top-3">CELESTIAL CHURCH OF CHRIST NEW JERUSALEM PARISH, MANCHESTER.</h4>
                <p>Glory be to God in His Majesty for his wonderful grace and the Birth of this Parish at the unique time of 16 years plus of the Parish existence. This is a story of Vision accomplished</p>
                <p>It is known by every Celestians in the United Kingdom that there is a Parish called <strong>New Jerusalem Centrl Parish, Manchester</strong>. This church came into existence by our grand patron &amp; father in the Lord <strong>Prophet B Oni</strong>.</p>
                <div class="group group-middle"><a class="button button-primary button-winona" href="#our-history" data-waypoint-to="#our-history">View our History</a><a class="button button-primary-outline button-winona" href="#">Join our Team</a></div>
            </div>
            <div class="col-md-10 col-lg-6 col-xl-5">
                <img src="~/images/sbj-about-1-539x598.png" alt="" width="539" height="598" />
            </div>
        </div>
    </div>
</section>
